// Specific CSS for your home-page

//code from banner.css landing page challenge
.banner {
  height: 600px;
  margin: 0;
  background-image: url("https://static.wixstatic.com/media/11062b_77fe0ce186364935834679b2a34f806f~mv2.jpeg/v1/fill/w_1377,h_829,al_c,q_85,usm_0.66_1.00_0.01/11062b_77fe0ce186364935834679b2a34f806f~mv2.webp");
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: #FFB835;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}

.banner p {
  color: grey;
  text-shadow: #00000033 0px 2px 4px;
}

//from card.css landing page challenge
.card img {
  height: 100px;
}

.card p {
  opacity: .5;
}

.card {
  width: 225px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  margin: 10px 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

//from style.css landing page challenge
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/* Custom design below! */

.container {
  width: 900px;
  margin: auto;
}

.banner {
  background-image: url("https://static.wixstatic.com/media/11062b_77fe0ce186364935834679b2a34f806f~mv2.jpeg/v1/fill/w_1377,h_829,al_c,q_85,usm_0.66_1.00_0.01/11062b_77fe0ce186364935834679b2a34f806f~mv2.webp");
  background-size: cover;
  background-position: center;
  padding: 450px 0;
}

.banner h1 {
  color: #FFB835;
  text-shadow: rgb(51, 51, 51) 2px 2px 2.5px;
}

.box {
  background-color: rgba(255, 255, 255, 0.6);
  width: 200px;
}

.banner p {
  color: #292929;
  opacity: 0.85;
  text-shadow: #FFB835 1px 1px 1.25px;
  font-size: 20px;
}
