<%= render 'shared/navbar' %>
<head>
  <meta charset="UTF-8">
  <title>LearnIt</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>

<body cz-shortcut-listen="true" data-new-gr-c-s-check-loaded="14.1051.0" data-gr-ext-installed="">
  <div class="banner">
    <div class="container">
      <h1>Welcome to LearnIt 💡</h1>
       <div><p>Learn a skill or sell one you know</p></div>
      <a class="btn-gradient" href="/lessons">Discover</a>
    </div>
  </div>


<div class="container">
  <br>
  <h2 class="text-center">How it works</h2>
    <div class="cards">
      <div class="card">
        <img src="https://res.cloudinary.com/fantastic-four/image/upload/v1646320533/undraw_fill_form_re_cwyf_aql4u8.svg" alt="Sign Up">
        <h4>Sign Up</h4>
        <p>Sign up for an account in less than 60 seconds</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/fantastic-four/image/upload/v1646320862/undraw_web_search_re_efla_tnhgcv.svg" alt="Find">
        <h4>Find</h4>
        <p>Find the perfect lesson and start learning!</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/fantastic-four/image/upload/v1646320944/undraw_teaching_re_g7e3_jxfu2y.svg" alt="Teach">
        <h4>Teach</h4>
        <p>Do you have a unique skill and enjoy teaching? List your lesson and start earning!</p>
      </div>
      <div class="card">
        <img src="https://res.cloudinary.com/fantastic-four/image/upload/v1646320991/undraw_booking_re_gw4j_tbxxlq.svg" alt="Organize">
        <h4>Organize</h4>
        <p>Sort your scheduled lessons with the LearnIt portal</p>
      </div>
    </div>
</div>

</body>
<%= render 'shared/footer' %>
