.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#FFB835, #c78f26);
  transition: background 0.5s ease;
  border: 1px solid #FFB835;
}

.btn-gradient:hover {
  background: linear-gradient(#faba42, #c79333);
  color: white;
}
