.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 100px;
}
.card-index {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 4px #E8E6E6;
  border-radius: 16px;
  transition: transform 0.6s, box-shadow 0.6s;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-index:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 10px 30px #0000003b, 0 15px 40px #a6adc933;
  box-shadow: 0 10px 10px #0000003b, 0 15px 40px #a6adc933;
}

.card-index a:link {
  text-decoration: none;
}


.card-index-rating {
  display: flex;
  justify-content: flex-end;
}

.card-index img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-index p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-index .card-index-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  color: black;
}

.card-index-infos .card-index-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
}

#card-index-numbers {
  padding: 16px;
  justify-content: right;
  align-items: flex-start;
}
