// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
  .container {
    width: 300px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-cards {
    grid-template-columns: 1fr;
  }
  .container {
    width: 300px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-cards {
    grid-template-columns: 1fr 1fr;
  }
  .container {
    width: 500px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container {
    width: 700px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container {
    width: 1000px;
  }
}
.page-header {
  text-align: center;
  color: #FFB835;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}

.footer2 {
  text-align: center;
  background-color: #C7C7C7;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer {
  text-align: center;
  padding: 30px;
  background-color: #C7C7C7;
}

.footer a {
  font-size: 30px;
  color: #FFB835;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}

.learnit-center {
  height: 500px;
  width: 500px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
